
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  mat-grid-tile {
    background: lightblue;
  } 
  mat-grid-list{
    width: 750px;
    height: 1000px;
  }
img{
  size: 40px;
}